<a href="https://colab.research.google.com/github/padmajakunuku/infosys_springboard_internship/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('education_jobs_dataset_500.csv')
print(df.head())

       Name        Education          Skill                    Certification  \
0  Person_1              BCA           HTML                Google IT Support
1  Person_2  BSc Mathematics  Data Analysis                              NaN
2  Person_3        BTech ECE            NaN   Embedded Systems Certification
3  Person_4      BTech Civil        AutoCAD  Autodesk Certified Professional
4  Person_5         BTech EE  Power Systems      Power Systems Certification

               Job Role
0    Software Developer
1         Mathematician
2  Electronics Engineer
3   Structural Engineer
4   Electrical Engineer

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           500 non-null    object
 1   Education      500 non-null    object
 2   Skill          397 non-null    object
 3   Certification  358 non-null    object
 4   Job Role       459 non-null    object
dtypes: object(5)
memory usage: 19.7+ KB
None

In [ ]:
print(df.shape)

(500, 5)

In [ ]:
print(df.describe())

              Name Education          Skill               Certification  \
count          500       500            397                         358
unique         500        10             32                          19
top     Person_500  BTech EE  Data Analysis  Data Analyst Certification
freq             1        61             45                          36

            Job Role
count            459
unique            26
top     Data Analyst
freq              48

In [ ]:
print(df.isnull().sum())

Name               0
Education          0
Skill            103
Certification    142
Job Role          41
dtype: int64

In [ ]:
print(df.duplicated().sum())

0

In [ ]:
#Step 2: Handling Missing Values
for col in df.columns:
    if df[col].dtype == "object":  # categorical → use mode
        df[col] = df[col].fillna(df[col].mode()[0])
    else:  # numeric → use mean
        df[col] = df[col].fillna(df[col].mean())

In [ ]:
#Step 3:Encoding Categorical Variables
from sklearn.preprocessing import LabelEncoder

label_encoders = {}
for col in df.select_dtypes(include='object').columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

In [ ]:
#step 5:Feature selection/splitting
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# Drop Name (not useful)
df = df.drop(columns=["Name"])
# Separate features and target
X = df.drop(columns=["Job Role"])
y = df["Job Role"]

In [ ]:
# Label encode target
le_target = LabelEncoder()
y_encoded = le_target.fit_transform(y)

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Make a copy of X to avoid changing original
X_encoded = X.copy()

label_encoders = {}
for col in ["Skill", "Certification"]:
    le = LabelEncoder()
    X_encoded[col] = le.fit_transform(X_encoded[col].astype(str))
    label_encoders[col] = le

# Now X_encoded has the encoded features
print(X_encoded.head())

   Education  Skill  Certification
0  -1.655592      5             11
1  -0.946255      7              1
2   0.827087      7              9
3   0.472418     11              5
4   1.181755     14             15

In [ ]:
#Step 4: Feature Scaling / Normalization
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [24]:
#Step 6: Train-Test Split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)